<!DOCTYPE html>
<html>

<head>
    <title><%= pageTitle %></title>
    <link rel="icon" href="https://img.icons8.com/cotton/2x/checklist.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <style>


        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
        }

        .brand-name {
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem; /* Adjust font size as needed */
            font-weight: bold;
        }
    
        button {
            background-color: #4CAF50;
            border: none;
            border-radius: 3px;
            color: #fff !important;
            cursor: pointer !important;
            font-size: 16px;
            padding: 10px;
        }
    
        button:hover {
            background-color: #3e8e41;
        }
    
        a {
            color: #4CAF50;
        }

        .color-primary{
            color:#4CAF50 !important;
        }

        .color-secondary{
            color:#3e8e41 !important;
        }

        .color-ms-blue{
            color:#0078D7 !important;
        }

    
    </style>

</head>